* {
    box-sizing: border-box;
}

.fila {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
    margin-bottom: 10px;
}

[class^="col-"] {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col-1 {
    background-color: #ff4221;
    grid-column: span 1;
}

.col-2 {
    background-color: #ffa938;
    grid-column: span 2;
}

.col-3 {
    background-color: #e7ff5c;
    grid-column: span 3;
}

.col-4 {
    background-color: #a0ff5c;
    grid-column: span 4;
}

.col-5 {
    background-color: #5cff5f;
    grid-column: span 5;
}

.col-6 {
    background-color: #5cffc3;
    grid-column: span 6;
}

.col-7 {
    background-color: #37ffeb;
    grid-column: span 7;
}

.col-8 {
    background-color: #24b2ff;
    grid-column: span 8;
}

.col-9 {
    background-color: #2d3eff;
    grid-column: span 9;
}

.col-10 {
    background-color: #c65cff;
    grid-column: span 10;
}

.col-11 {
    background-color: #ff5cce;
    grid-column: span 11;
}

.col-12 {
    background-color: #ff5c5c;
    grid-column: span 12;
}